body {
  padding-top: 56px;
}

.hero-section {
  background-color: #222;
  background-size: cover;
  background-position: center;
  color: #fff; /* Text color on top of the background */
  text-align: center;
  padding: 100px 0;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create {
  width: 50%;
  margin-right: 3rem;
  padding: 1rem;
}

.list {
  width: 50%;
  padding: 1rem;
}

.list ul {
  list-style: none;
  padding: 0;
}

.list ul li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #fff;
}

.list ul li:last-child {
  border-bottom: none;
}

.list ul li:hover {
  color: #ffc107; /* Change color on hover */
  cursor: pointer;
}
